#navfirst{
  text-decoration: none;
}

#navfirst:hover {
  color: #fece00;
}

#navfirst.active {
  color: #fece00;
}


#navsecond{
  text-decoration: none;
}

#navsecond:hover {
  color: #fece00;
}

#navsecond.active {
  color: #fece00;
}


#navthird{
  text-decoration: none;
}

#navthird:hover {
  color: #fece00;
}

#navthird.active {
  color: #fece00;
}

