@import "../../styles/variables.scss";
.tourdeterre--container {
  width: 100%;
  display: flex;
  background-color: #111213;
  justify-content: center;

  .grid--inner {
    display: flex;
    justify-content: space-between;
    @include breakpoint("lg") {
      flex-direction: column;
    }
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
  }

  .text {
    margin-top: 64px;
    p {
      width: 464px;
      height: 220px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      @include breakpoint("lg") {
        width: 328px;
        height: 300px;
      }

      b {
        font-weight: bold;
        color: #fece00;
      }
    }
  }

  .imagecontainer {
    width: 600px;
    height: 356.65px;
    margin-top: 40px;
    @include breakpoint("lg") {
      margin-top: -150px;
    }
  }

  .image {
    @include breakpoint("lg") {
      width: 328px;
      height: 184px;
    }
  }
}

.desktop {
  @media all and (max-width: 1210px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile {
  @media all and (max-width: 1210px) {
    display: flex;
  }
  display: none;
}
.container {
  width: 100%;
  display: flex;
  background-color: #111213;
  height: 603px;
  justify-content: center;
  @media all and (max-width: 1210px) {
    display: block;
    height: 871px;
  }
}

.subcontainer {
  @media all and (max-width: 992px) {
    display: block;
    height: 871px;
    padding: 0px 16px;
  }
  width: 100%;
  margin-top: 96px;
}
.wrapper {
  width: 100%;
  max-width: 1114px;
  display: flex;
}
