@import "../../styles/variables.scss";
.tourdeterre--container {
  width: 100%;
  display: flex;
  background-color: #111213;
  justify-content: center;

  .grid--inner {
    display: flex;
    justify-content: space-between;
    @include breakpoint("lg") {
      flex-direction: column;
    }
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
  }

  .text {
    margin-top: 64px;
    p {
      width: 464px;
      height: 220px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      @include breakpoint("lg") {
        width: 328px;
        height: 300px;
      }

      b {
        font-weight: bold;
        color: #fece00;
      }
    }
  }

  .imagecontainer {
    width: 600px;
    height: 356.65px;
    margin-top: 40px;
    @include breakpoint("lg") {
      margin-top: -150px;
    }
  }

  .image {
    @include breakpoint("lg") {
      width: 328px;
      height: 184px;
    }
  }
}
