.modal-container {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background: #111213;
}

@media (min-width: 630px){
  .modal-container{
    display: none;
  }
}