.buttun-menu {
  background-image: url("../../../../assets/menu.png");
  background-color: #111213;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: none;
}

@media (max-width: 890px) {
  .buttun-menu {
    display: block;
  }
}
