@import "../../styles/variables.scss";

.footer--container {
  padding: 40px 126px 0px;
  box-shadow: inset 0px 1.5px 0px #2f3237;
  background: #111213;

  @include breakpoint("md") {
    display: flex;
    flex-direction: column;
    padding: 40px 16px 0px;
    gap: 48px;
  }

  a {
    cursor: pointer;
  }

  .topcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
  }

  .topleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .topright {
    p {
      padding: 8px 0px;
      &:hover {
        color: #fece00;
      }
    }
  }

  .wrapper {
    padding: 23px 0px;
    width: 184px;
  }

  .logo {
    width: 141px;
    height: 32px;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    img {
      width: 16px;
      height: 16px;
    }
  }

  .bottomcontainer {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0px 1.5px 0px #2f3237;
    padding: 23px 0rem;
    @include breakpoint("sm") {
      flex-direction: column;
      align-items: center;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #f8f9fc;
    }
  }
}
