@import "../../styles/variables.scss";

.grid--container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $padding-y 0;

  .grid--inner {
    max-width: map-get($widths, "desktop");

    @include breakpoint("mobile") {
      max-width: map-get($widths, "mobile");
    }
  }
}
