@import "../../styles/variables.scss";

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ranking-card--container {
  @include flex-row-center;
  padding: 10px 32px;
  gap: 16px;

  background: $white;
  border: 1px solid $grey-100;

  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  }

  @include breakpoint("lg") {
    padding: 10px 12px;
    gap: 8px;
  }
}

.ranking-card--rank {
  color: $grey-500;
  font-weight: 700;
  line-height: 42px;
  min-width: 78px;

  @include breakpoint("lg") {
    font-size: 16px;
    line-height: 24px;
    min-width: 16px;
  }
}

.ranking-card--content {
  @include flex-row-center;
  padding: 0px;
  width: 100%;
  gap: 16px;

  @include breakpoint("lg") {
    justify-content: space-between;
    gap: 0px;
  }
}

.ranking-card--rest {
  @include flex-row-center;
  justify-content: space-between;
  width: 100%;

  @include breakpoint("lg") {
    width: auto;
  }

  h5 {
    color: $grey-500;
    font-weight: 700;
    min-width: 160px;
    text-align: center;

    @include breakpoint("lg") {
      font-size: 14px;
      min-width: 50px;
    }
  }
}

.ranking-card--person {
  @include flex-row-center;
  justify-content: center;
  padding: 0px;
  gap: 29px;

  @include breakpoint("lg") {
    gap: 8px;
  }
}

.ranking-card--avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $grey-100;
  object-fit: cover;

  @include breakpoint("lg") {
    height: 40px;
    width: 40px;
  }
}

.ranking-card--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 294px;

  @include breakpoint("lg") {
    width: auto;
  }

  p {
    color: $grey-500;
    font-weight: 700;
    line-height: 27px;

      @include breakpoint("lg") {
      font-size: 16px;
      line-height: 24px;
    }
  }

  span {
    color: $grey-400;
    font-weight: 300;
    line-height: 24px;

      @include breakpoint("lg") {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .ranking-card--country-mobile {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

      @include breakpoint("lg") {
      display: flex;
    }

    img {
      width: 13.25px;
      height: 10px;
    }

    p,
    span {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.ranking-card--country {
  @include flex-row-center;
  padding: 0px;
  gap: 16px;
  min-width: 175px;

  img{
    width: 53px;
    height: 40px;
    object-fit: contain;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      color: $grey-500;
      line-height: 27px;
      padding-bottom: 2px;
    }
    span {
      color: $grey-400;
      line-height: 24px;
      padding-top: 2px;
    }
  }

    @include breakpoint("lg") {
    display: none;
  }
}
