@import "../../styles/variables.scss";

.pedalar--container {
  .grid--inner {
    @include breakpoint("sm") {
      margin-bottom: 34px;
    }
  }

  .title--container {
    padding-bottom: 48px;
  }

  .slick-track {
    display: flex !important;
    padding: 8px 0;
  }

  .slick-slide {
    height: auto;
  }

  .button--container {
    button {
      background-color: $primary-200;

      img {
        filter: grayscale(1) invert(1) brightness(1);
      }

      &:active {
        background-color: $grey-500;
        img {
          filter: grayscale(1) brightness(1);
        }
      }
    }
  }

  .slick-dots {
    li {
      background-color: $grey-500;
      border-color: $grey-500;
    }

    li.slick-active {
      background-color: $primary-200;
      border-color: $primary-200;
    }
  }
}
