.desktop {
  @media all and (max-width: 1210px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile {
  @media all and (max-width: 992px) {
    display: flex;
  }
  display: none;
}
.container {
  width: 100%;
  display: flex;
  background-color: #e5e5e5;
  height: 800px;
  justify-content: center;
  @media all and (max-width: 1210px) {
    display: block;
  }
}

.subcontainer {
  width: 100%;
  max-width: 1114px;
  margin-top: 96px;
  padding-left: 126px;
}

.cardscontainer {
  display: flex;
  flex-direction: row;
  padding-top: 106px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.icon {
  width: 80px;
  height: 80px;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.title {
  width: 287px;
  height: 73px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  color: #111213;
}

.description {
  width: 287px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #585858;
}
