@import "../../styles/variables.scss";

.pedalar--container {
  .grid--inner {
    @include breakpoint("sm") {
      margin-bottom: 34px;
    }
  }

  .title--container {
    padding-bottom: 48px;
  }

  @include breakpoint-up("xl") {
    .slick-slide {
      max-width: 350px;
      margin-right: 32px;
    }
  }

  .slick-slide:last-child {
    margin-right: 0;
  }

  .slick-slide > div {
    padding: 0;
  }

  .button--container {
    button {
      background-color: $primary-200;

      img {
        filter: grayscale(1) invert(1) brightness(1);
      }

      &:active {
        background-color: $grey-500;
        img {
          filter: grayscale(1) brightness(1);
        }
      }
    }
  }

  .slick-dots {
    li {
      background-color: $grey-500;
      border-color: $grey-500;
    }

    li.slick-active {
      background-color: $primary-200;
      border-color: $primary-200;
    }
  }
}
