@import "../../styles/variables.scss";

.static-ranking--container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 96px 32px;

  > div {
    width: 100%;
  }

  @include breakpoint("lg") {
    padding: 96px 16px;
  }

  .static-ranking--about {
    line-height: 36px;
    margin: 24px 0 64px;

    b {
      font-weight: 700;
    }

    @include breakpoint("lg") {
      font-size: 18px;
      line-height: 27px;
      margin: 24px 0 32px;
    }
  }

  .static-ranking--content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    @include breakpoint("lg") {
      gap: 13px;
      margin-bottom: 32px;
    }
  }
}

.static-ranking--button {
  > div {
    justify-content: flex-start !important;

    @include breakpoint("md") {
      display: block;
    }

    button {
      p {
        min-width: 147px;
      }

      @include breakpoint("lg") {
        width: 100%;
        justify-content: center;

        p {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
