@import "../../styles/variables.scss";

.static-ranking--container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 96px 32px;

  @include breakpoint("lg") {
    padding: 96px 16px;
  }

  .static-ranking--title {
    font-weight: 800;
    line-height: 60px;
    width: fit-content;

    @include breakpoint("lg") {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .static-ranking--line {
    height: 7px;
    width: 50%;
    background-color: $primary-200;
    margin-top: 4px;
    border-radius: 4px;
  }

  .static-ranking--about {
    line-height: 36px;
    margin: 24px 0 64px;
    b {
      font-weight: 700;
    }

    @include breakpoint("lg") {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .static-ranking--sub-container {
    max-width: 1114px;
    width: 100%;
  }
}

.static-ranking--content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;

  @include breakpoint("lg") {
    gap: 13px;
    margin-bottom: 32px;
  }
}

.static-ranking--button {
  display: flex;
  width: max-content;
  color: $grey-500;
  background-color: $primary-200;

  @include breakpoint("lg") {
    width: auto;
  }

  .static-ranking--button-text {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;

    @include breakpoint("lg") {
      flex-grow: 1;
      justify-content: center;
    }

    p {
      font-weight: 700;
      line-height: 24px;
      min-width: 146px;
      text-align: center;
      @include breakpoint("lg") {
        width: 100%;
      }
    }

    &:hover {
      background-color: $primary-300;
    }

    img {
      width: 16px;
      height: 12px;
      filter: brightness(0);
      margin-right: 2px;
    }
  }
}
