@import "../../styles/variables.scss";

.container-global-download {
    background: url(../../assets/BackgroundDownload.svg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 800px;

    @include breakpoint("xl") {
        max-height: unset;
    }

    @include breakpoint("xl") {
        background: url(../../assets/image_background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @include breakpoint("sm") {
        background-image: url("../../assets/fundomobile.svg");
        background-position: unset;
    }
}

.LogoVertical-mobile {
    display: none;
    position: absolute;
    top: 40px;
    width: 141.33px;
    height: 32px;
    padding: unset;

    @include breakpoint("sm") {
        display: block;
    }
}

.decoration-container {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-image: url("../../assets/decoration--section--download.svg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
    left: 0;

    @include breakpoint("xl") {
        display: block;
    }

    @include breakpoint("sm") {
        display: none;
        background-image: url("../../assets/decoration--mobile--download.svg");
        background-size: 100%;
        background-position: bottom;
    }

}


.sub-container-download {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 50px;
    padding-top: 16px !important;

    @include breakpoint("md") {
        padding-bottom: 50%;
        gap: unset;
    }

    @include breakpoint("sm") {
        padding: unset;
    }


}

.container-text {
    display: flex;
    flex-direction: column;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    position: relative;
    width: 495px;
    padding-top: 27px;

    @include breakpoint("md") {
        flex-direction: column;
        font-size: 28px;
        line-height: 42px;
    }

    @include breakpoint("sm") {
        padding-top: 6%;
        padding-bottom: 94%;
        width: 300px;
    }
}

.container-buttons-download {
    display: flex;
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 66px;

    @include breakpoint("xl") {
        padding-top: 16%;
        padding-bottom: unset;
    }

    @include breakpoint("lg") {
        padding-top: 40%;
        padding-bottom: unset;
    }

    @include breakpoint("md") {
        padding: unset;
        position: absolute;
        top: 90%;
    }

    @include breakpoint("sm") {
        position: absolute;
        gap: 16px;
        top: 95%;
    }
}

.secondtextlabel {
    margin-left: 56px;

    @include breakpoint("md") {
        text-align: unset;
        margin-left: 0%;
    }

    @include breakpoint("sm") {
        margin-left: 9%;
    }
}

.fourthtextlabel {
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #FECE00;

    @include breakpoint("lg") {
        height: 60%;
    }

    @include breakpoint("md") {
        font-size: 28px;
        height: unset;
    }

}

.thirdtextlabel {

    @include breakpoint("md") {
        padding: unset;
        margin: unset;
    }
}

.line-text-fourth {
    border-bottom: 8px solid #FFFFFF;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint("md") {
        width: 179px;
        height: 28px;
        border-bottom: 4px solid #FFFFFF;
    }
}

.Arrow {
    position: absolute;
    left: 54.95%;
    right: 4.85%;
    top: 0%;
    bottom: 51.69%;

    @include breakpoint("lg") {
        width: 90px;
        height: 90px;
    }

    @include breakpoint("md") {
        left: 30%;
        top: 10%;
    }

    @include breakpoint("sm") {
        left: 51%;
        top: -4%;
    }
}

.container-text-second {
    display: flex;
    width: 600px;
    grid-gap: 2px;

    @include breakpoint("lg") {
        grid-gap: 10px;
        align-items: center;
    }

    @include breakpoint("md") {
        width: unset;
    }

    @include breakpoint("sm") {
        width: 320px;
    }

}

.container-buttons-download .download--container{
    padding: 12px 15px;
    width: 100%;
}

.LogoVertical {
    width: 283px;
    height: 64px;

    @include breakpoint("sm") {
        display: none;
    }
}

.container-buttons-download .download--container .download--label b {
    font-weight: 700;
}

@media (min-width: 1700px) {
    .container-global-download {
        background-position: center;
        background-image: url("../../assets/BackgroundDownloadFullHd.svg");
        max-height: 920px;
    }

    .container-buttons-download {
        padding-top: 10%;
    }

    .container-text {
        padding-top: 8%;
    }

    .Arrow {
        top: 25%;
    }
}


@media (max-width: 530px) {
    .container-buttons-download {
        height: 68px;
    }

    .container-buttons-download .download--container .download--label {
        font-size: 16px;
        line-height: 25px;

    }
}

@media (max-width: 500px) {
    .container-buttons-download {
        gap: 20px;
    }

    .container-buttons-download .download--container .download--label {
        font-size: 14px;
        line-height: 20px;
    }

    .container-buttons-download .download--container .download--icon {
        width: 24px;
        height: 24px;

    }
}

@media (max-width: 769px) {
    .container-buttons-download .download--container {
        width: unset;
    }
}


@media (max-width: 381px) {
    .container-buttons-download .download--container {
        width: 100%;
    }
}

@media (max-width: 450px) {

    .container-text {
        padding-bottom: 83%;
        padding-top: 0;
    }

    .container-buttons-download .download--container {
        gap: 10px;
    }

    .container-buttons-download .download--container .download--label b {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
    }

    .container-buttons-download .download--container .download--label {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

    }
}

@media (max-width:380px) {

    .container-buttons-download .download--container {
        padding: 12px 12px;
    }

    .container-global-download {
        height: 593px;
    }

    .container-buttons-download {
        gap: 16px;
        width: 328px;
        height: 67px;
        padding: 0;
        top: 100%;
        left: -4%;
    }
}

@media (max-width:350px) {

    .container-global-download {
        height: unset;
    }
    .container-buttons-download {
        width: 99%;
        height: 67px;
        left: unset;
    }

    .container-buttons-download .download--container .download--label {
        font-size: 9px;
        line-height: 12px;
    }

    .container-text-second {
        width: 100%;
    }

    .fourthtextlabel {
        font-size: 18px;
    }

    .container-text {
        line-height: 22px;
        font-size: 18px;
        width: 90%;
    }

    .Arrow {
        width: 50px;
        height: 50px;
    }

    .line-text-fourth {
        width: 100px;
    }
}