@import "../../styles/compass/variables.scss";
@import "../../styles/compass/mixins.scss";

.card {
  height: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px $color-neutral70;
  background-color: $color-white;

  @include media-breakpoint-down("lg") {
    max-width: 400px;
    width: 300px;
  }

  > img {
    max-width: 100%;
    height: 216px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    border-color: $color-white;

    > img {
      filter: brightness(0.8);
    }

    button,
    .button {
      filter: brightness(0);
    }
  }

  $internal-padding: 1rem;

  h4 {
    $line-height: clamp(1.625rem, 0.75vw, 6.5rem);
    $max-lines: 3;
    $max-height: calc(26px * $max-lines);

    color: $color-neutral90;
    font-weight: 900;
    font-size: clamp(1.25rem, 0.75vw, 5rem);
    line-height: $line-height;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $max-lines;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: $max-height;
    margin-bottom: 12px;
  }

  button,
  .button {
    max-width: 130px;

    &:hover {
      img {
        filter: brightness(0);
      }
    }

    @include media-breakpoint-up("xxl") {
      max-width: 160px;
    }
  }

  .cardText {
    height: 190px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
