@import "../../styles/variables.scss";

.conhecatour--container {
  background: $grey-500;

  .video--container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 64px;
  }

  .video {
    width: 100%;
  }

  .icon {
    z-index: 2;
    position: absolute;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  @include breakpoint("lg") {
    .video--container {
      margin-top: 40px;
    }

    .icon {
      scale: 0.8;
    }
  }
}
