@import "../../styles/variables.scss";

.conhecatour--container {
  background: $grey-500;
  z-index: -1;

  @include breakpoint("sm") {
    justify-content: center;
    align-items: center;
  }

  .video--container {
    display: flex;
    margin-top: 64px;
    align-items: center;
    justify-content: space-evenly;
    .video {
      z-index: 0;
      width: 1114px;
      height: 616px;
      @include breakpoint("sm") {
        width: 328px;
        height: 181px;
      }
    }
  }
  .icon {
    z-index: 3;
    position: absolute;
    cursor: pointer;
    @include breakpoint("sm") {
      height: 32px;
      width: 32px;
    }
  }
}
