@import "../../styles/variables.scss";

.conhecatour--container {
  background: $grey-500;

  @include breakpoint("sm") {
    justify-content: center;
    align-items: center;
  }

  .video--container {
    display: flex;
    margin-top: 64px;

    @include breakpoint("sm") {
      iframe {
        width: 100%;
        height: 192px;
      }
    }
  }
}
