@import "../../styles/variables.scss";

.nft-card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px 0;
    line-height: 36px;
    font-weight: 700;

    background: $primary-200;
    color: $grey-500;
  }

  &:hover {
    cursor: pointer;

    outline: 1.5px solid $white;
    outline-offset: -1.5px;
  }

  @include breakpoint("lg") {
    .label {
      padding: 10px 0;
    }
  }
}
