.modal-language {
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30%;
  position: fixed;
  background: #111213;
  transition: all 0.4s;
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1114px;
}

.modal-button {
  position: absolute;
  background-image: url("../../../../assets/close.png");
  background-color: #111213;
  cursor: pointer;
  width: 32px;
  height: 32px;
  right: 9.2%;
}

.logo-modal {
  width: 403px;
  height: 24px;
}

.container-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;


  width: 264px;
  height: 112px;
  left: 551px;
  top: 324px;
}

@media (min-width: 1400px) {

  .container-modal {
    top: 45%;
    left: 40%;
  }
}
