@import "../../styles/variables.scss";

.not-found--container {
  margin-top: 86px;
  padding-top: 124px !important;
  background-color: $grey-500;
  .grid--inner {
    display: flex;
    align-items: center;
    gap: 80px;

    .not-found--question {
      @include breakpoint("lg") {
        display: none;
      }
    }

    .not-found--sub-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include breakpoint("lg") {
        gap: 32px;
      }

      .not-found--title {
        color: $white;
        line-height: 48px;
        b {
          font-weight: 700;
        }
      }

      .not-found--description {
        color: $white;
      }

      .not-found--link {
        display: flex;
        align-items: center;
        gap: 16px;

        p {
          font-weight: 800;
          line-height: 26px;
          color: $white;
        }

        img {
          width: 16px;
        }
      }
    }
  }
}
