@import "../../styles/variables.scss";

.header {
  position: fixed;
  background-color: $grey-500;
  top: 0;
  left: 0;
  width: 100vw;

  z-index: 3;

  padding-top: 28px !important;
  padding-bottom: 28px !important;

  .header--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header--nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    gap: 48px;

    &.open {
      a {
        display: none;
      }

      #control-nav {
        display: none;
      }
    }
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 48px;
    gap: 24px;
  }
}

.nav-link {
  font-weight: 700;
  color: $white;

  &:hover {
    cursor: pointer;
    color: $primary-200;
  }

  &.active {
    color: $primary-200;
  }
}
