.container {
  width: 100%;
  background-color: #e5e5e5;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcontainer {
  width: 100%;
  max-width: 1114px;
}

.divider {
  height: 7px;
  width: 50%;
  background-color: #fece00;
  margin-top: 4px;
  margin-bottom: 64px;
}

.titlecontainer {
  height: 30px;
  width: auto;
}

p {
  font-size: 20px;
  color: yellow;
}
h3 {
  font-size: 35px;
  color: blueviolet;
}

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
  color: #111213;
}
