.container {
  width: 100%;
  background-color: #e5e5e5;
  height: 800px;
}

.subcontainer {
  width: 100%;
  max-width: 1114px;
  margin-top: 64px;
}

.divider {
  height: 7px;
  width: 193px;
  background-color: #fece00;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #111213;
}
