.text-language {
  width: 179px;
  height: 36px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.text-language:hover {
  color: #fece00;
}

.text-language:active {
  color: #fece00;
}

.language-icon {
  width: 53px;
  height: 40px;
}

.language-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 264px;
  height: 40px;
  text-decoration: none;
}

@media (max-width: 576px) {
  .text-language {
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    height: 27px;
  }

  .language-icon {
    width: 42px;
    height: 32px;
  }
}

@media (max-width: 225px) {

  .text-language {
    display: none;
  }

  .language-icon {
    width: 53px;
    height: 40px;
  }
}