.modal-language {
  z-index: 1;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30%;
  position: fixed;
  background: #111213;
  transition: all 0.4s;

}

.sub-container-modal {
  display: flex;
  justify-content: center;
  width: 100%;

}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1114px;
}

.modal-button {
  background-image: url("../../../assets/close.svg");
  background-color: #111213;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.logo-modal {
  width: 403px;
  height: 24px;
}

.container-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;


  width: 264px;
  height: 112px;
  left: 551px;
  top: 324px;
}

.logo-modal-mobile {
  display: none;
  width: 106px;
  height: 24px;
  left: 16px;
}


@media (max-width: 1200px) {
  .modal-header {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .modal-header {
    max-width: 740px;
  }
}


@media (max-width: 768px) {
  .modal-header {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .logo-modal {
    display: none;
  }

  .logo-modal-mobile {
    display: block;
  }

  .modal-button {
    width: 24px;
    height: 24px;
    background-image: url("../../../assets/icon-regular-close.svg");
  }

  .modal-header {
    max-width: 100%;
    margin-right: 27px;
    margin-left: 27px;
  }
  .container-modal {
    width: 192px;
    height: 32px;
  }
}


@media (max-width: 225px) {
  .logo-modal-mobile {
    display: none;
  }

  .container-modal {
    width: 53px;
    height: 40px;
  }

  .modal-header {
    justify-content: center;
    padding-left: unset;
    padding-right: unset;
  }
}