@import "../../styles/variables.scss";

.nfts--container {
  background: $grey-500;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 64px;
    width: 100%;
    gap: 56px;

    @include breakpoint("lg") {
      flex-direction: column;
      align-items: center;

      margin-top: 40px;
      gap: 40px;
    }
  }
}
